{% extends 'posts/base.html' %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password doesn't match. Try again</p>
    {% endif %}

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <section id="login">
        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            <p>Username</p>
            {{ form.username }}
            <p>Password</p>
            {{ form.password }}
            <button type="submit">Log in</button>
            <input type="hidden" name="next" value="{% url 'posts:songs' %}">
        </form>
        <p class="mini-message"><small>Don't have an account? <a href="{% url 'users:register' %}">Register</a></small></p>
    </section>


{% endblock content %}