{% extends 'posts/base.html' %}

{% block content %}

    <div class="wrapper">
        <p>[ <a href="{% url 'posts:songs' %}">Back to {{ song.author.username.title }}'s songs</a> ]</p>
        <div id="song-wrapper">
            <h2>{{ song.title }}</h2>
            <h5>{{ song.author.username.title }} | {{ song.date_posted|date:'f d, Y' }}</h5>
            <p>{{ song.lyrics|linebreaks }}</p>

            <div id="song-wrapper-btns">
                <p><a href="{% url 'posts:edit_song' song.id %}">[ Edit ]</a></p>
                <p><a href="{% url 'posts:delete_song' song.id %}">[ Delete ]</a></p>
            </div>

        </div>
    </div>

{% endblock content %}