{% extends 'posts/base.html' %}

{% block content %}
    <section id="songs">
        <div class="wrapper">
            <p>[ <a href="{% url 'posts:new_song' %}">Add a new song</a> ]</p>

            {% if song_count == 0 %}
                <p>No songs have been added yet</p>
            {% elif song_count == 1 %}
                <p><small>Song count: {{ song_count }}</small></p>
            {% else %}
                <p><small>Song count: {{ song_count }}</small></p>
            {% endif %}

            <div id="songs-list" class="wrapper">
                {% for song in all_songs %}
                    <p>[ <a href="{% url 'posts:song' song.id %}">{{ song.title }}</a> ]</p>
                {% endfor %}
            </div>


        </div>
    </section>
{% endblock content %}