{% extends 'posts/base.html' %}

{% block content %}

    <div class="wrapper">
        <p><a href="{% url 'posts:songs' %}">Back to your songs</a></p>
        <div class="sub-wrapper">
            <h2>{{ song.title }}</h2>
            <h5>{{ song.author.username.title }} | {{ song.date_posted|date:'f d, Y' }}</h5>
            <p>{{ song.lyrics|linebreaks }}</p>
            <p><a href="{% url 'posts:edit_song' song.id %}">Edit song</a></p>
{#            <p><a href="{% url 'posts:delete_song' song.id %}">Delete song</a></p>#}
        </div>
    </div>

{% endblock content %}